#app {
    font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
}

ul li{
  list-style: none;
}

body a:hover{
  color: #23527c;
  text-decoration: none;
  cursor: pointer;
}

body a {
  color: #4c4c4c;
  font-weight: 500;
  text-decoration: none;
}

/* -----------------header------------------- */
.header-main {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #ffffff;
  height: 75px;
  line-height: 75px;
  box-shadow: 0 0 4px rgba(0,0,0,.14), 0 4px 8px rgba(0,0,0,.28);
  z-index: 200;
}

.header-main .header-logo {
  float: left;
  margin: 0 0 0 15px;
  font-family: "Roboto",sans-serif;
  font-size: 20px;
  position: absolute;
}

.header-main .header-logo img {
  width: 50px;
  -webkit-border-radius: 25px;
}

.header-main .header-nav {
  float: right;
  height: 75px;
  top: 0;
  width: auto;
  background: #ffffff;
  margin: 0;
  overflow: scroll;
  padding: 0;
  position: fixed;
  right: 0;
  z-index: 300;
}

.header-nav ul li {
  margin: 0 36px 0 0;
  display: inline-block;
  line-height: 74px;
  text-transform: uppercase;
}

/* -----------------header------------------- */
